profiles {

    standard {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'sge'
        process.queue = 'all.q'
        process.clusterOptions = '-V -cwd -l virtual_free=2G -S /bin/bash'
    }

    droplet {
        process.container = 'centos'
        docker.enabled = true
    }

    conda {
        process.conda = 'testenv.yaml'
    }

}
